body{
    font-family: Archia;
}
/* .hr-style{
    border-top: 10px;
} */
#Hero-Section {
    background-image: url("../images/fondo-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
#Portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
h1{
    font-size: 36px;
}
header h2{
    width: 4em
}
h3{
    font-size: 28px;  
    color: #717D96;
}
p{
    font-size: 14px;  
    color: #717D96;
}
.color-morado{
    color: #8E6AB8;
}
button a{
    text-decoration: none;
    text-decoration-color: currentColor;
    font-family: Archia;
    font-size: 16px; 
    color: inherit;
}
#Contacto a{
/*     text-decoration: none; */
    font-family: Archia;
    font-size: 14px;  
    color: #717D96;
}
footer p{
    color:white
}
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 100px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 19%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}